body{
    box-sizing: border-box;
    height: 600px;
    width: 400px;
    overflow:auto;
    color: gray !important;
    font-size: 0.8em !important;
}
.jumbotron{
    padding: 0.8rem 0.8rem !important;
}
/* header starts */
#main-header{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color:white;
    width: 92vw;
}

header{
    margin-bottom: 8px;
}
.jumbotron.heading{
    padding: 0;
    margin-bottom: 0;
}
.heading{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.3em;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    margin-bottom:  2px;
    padding: 0;
}
nav{
    margin: 0;
    padding: 0 !important;
}
.nav-item{
    margin-left: 8px;
    column-gap: 10px;
}
.navbar-nav{
    column-gap: 10px;
}
.nav-item:hover{
    background-color: #d6d0d0;
}
/* header ends */

#variableTable{
    border-collapse: separate;
    border-spacing: 2px;
}
#variableTable th,td, tr{
    padding: 5px 2px;
    border-radius: 5px;
    border: 1px solid gray;
}
#variableTable th,td, tr:hover{
    background: white;
    color: gray;
}

#data {
    margin: 0%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


/* content starts */
.content{
    margin-top: 80px;
    text-align: center;
}
input[type=text], textarea{
    color: gray;
}
.content button{
    font-size: 1em !important;
}
.content button:hover{
    font-size: 1.3em !important;
}

.profiles{
    display: flex;
    flex-direction: column;
}
.profile-item{
    border: 2px solid rgb(100, 197, 230);
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}
.profile-item:hover{
    background: white;
    color: rgb(46, 132, 161);
    font-weight: 600;
}
/* content ends */


#main-footer {
    position: fixed;
    bottom: 0;
    width: 93vw;
    padding: 5px;
    text-align: center;
    z-index: 1;
    margin: 0;
    font-size: 0.8em !important; 
}
